<div class="d-flex justify-content-between px-3 mb-0">
  <span class="row">
    <h1>推文後台</h1><h5 style='line-height: 65px;'>(以更新時間遞減排序)</h5>
  </span>
  <span class="row ml-2 h4">
    <span>切換：</span>
    <span><a href="#">推文</a>/<a href="/admin/users">用戶</a></span>
  </span>
</div>

<table class="table my-0">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Description(Preview)</th>
      <th scope="col">Author</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each tweets.rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.description}}</td>
      <td>{{this.User.name}}</td>
      <td>
        <a href="/tweets/{{this.id}}/replies" class="btn btn-info">
          <i class="fas fa-info"></i>
        </a>
      </td>
      <td><form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger"
          onclick="if(confirm('Are you sure?')) return true; else return false">
          <i class="fas fa-trash"></i>
        </button>
      </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-center ml-5 ml-sm-0 pl-5 pl-sm-0">
  <ul class="pagination ml-5 ml-sm-0">
    <li class="page-item">
      <a class="page-link" href="/admin/tweets?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
    {{#ifCond this ../page}}
    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
    {{else}}
    <li class="page-item"><a class="page-link"
        href="/admin/tweets?page={{this}}">{{this}}</a></li>
    {{/ifCond}}
    {{/each}}
    <a class="page-link" href="/admin/tweets?page={{next}}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
  </ul>
</nav>