<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{!-- 自動將http的不安全請求升級為https --}}
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Simple Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://cdn.pixabay.com/photo/2017/11/10/05/05/twitter-2935414_960_720.png" type="image/png" />
  <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2020/01/07/16/10/twitter-4748000_960_720.png"
    type="image/png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css">
</head>

<body>
  <header class="fixed-top">
    {{!-- Navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info d-flex justify-content-between mr-0 pr-0 pr-sm-2">
      <a class="navbar-brand text-dark font-weight-bold ml-1" href="/">
        <h3>Simple Twitter</h3>
      </a>
      <div class="navbar-collapse offcanvas-collapse col-12 col-sm-5 col-md-3 d-flex justify-content-end"
        id="navbarsExampleDefault">
        <div class="buttons col-8 mx-1 px-1 d-flex justify-content-end">
          {{#ifRole user.role }}
          <a href="/admin" class="text-light btn btn-warning font-weight-bold mx-1">
            <i class="fas fa-users-cog"></i>
          </a>
          {{/ifRole}}
          {{#if user}}
          <a href="/users/{{user.id}}/tweets"><img src="{{user.avatar}}" alt="avatar" min-width="50" height="37.5"
              class="border"></a>
          <a href="/chat" class="text-light btn btn-danger font-weight-bold mx-1">
            <i class="fas fa-comments"></i>
          </a>
          <div class="dropdown" id="remind">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="bell">
              <i class="fas fa-bell"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="bellList">
              {{!-- 新通知位置 --}}
            </div>
          </div>
          <a href="/logout" class="text-primary font-weight-bold ml-2 mt-1">LogOut</a>
          {{/if}}
        </div>
      </div>
    </nav>
    {{#if success_messages}}
    <div class="alert alert-success" role="alert">
      {{success_messages}}
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert">
      {{error_messages}}
    </div>
    {{/if}}

  </header>
  <main role="main" class="pt-5 mt-5">
    <div class="album">
      <div class="container mt-3">
        {{{body}}}
      </div>
    </div>
  </main>

  {{!-- 讓遠端websocket server預先開啟 --}}
  <iframe src="https://ws-server-for-simple-twitter.herokuapp.com/" frameborder="0" class="d-none"></iframe>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c25a5b0a92.js" crossorigin="anonymous"></script>
  <script>

    if (JSON.parse(localStorage.getItem('bellMenu')) === null) {
      let a = []
      localStorage.setItem('bellMenu', JSON.stringify(a))
    }
    let bellMenu = JSON.parse(localStorage.getItem('bellMenu'))
    let bellList = document.getElementById("bellList");
    bellMenu.forEach((data) => {
      let btn = document.createElement("BUTTON");
      btn.classList.add("dropdown-item")
      btn.innerHTML = "new tweet: " + data
      bellList.appendChild(btn)
    })

    const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
    const echoSocketUrl = socketProtocol + '//' + window.location.hostname + ':' + window.location.port + '/tweets'
    var ws = new WebSocket(echoSocketUrl);

    ws.onopen = () => {
      console.log('open connection')
    }

    ws.onclose = () => {
      //localStorage.clear()
      console.log('close connection')
    }

    //接收 Server 發送的訊息
    ws.onmessage = event => {
      bellMenu.push(JSON.stringify(event.data))
      localStorage.setItem('bellMenu', JSON.stringify(bellMenu))
      //加入新通知
      let btn = document.createElement("BUTTON");
      document.getElementById("bell").style.color = "#ff3333";
      btn.classList.add("dropdown-item")
      btn.innerHTML = "new tweet: " + event.data
      bellList.appendChild(btn)
    }
    function sendMessage() {
      let description = document.getElementById("description").value
      ws.send(description)
    }
  </script>
</body>


</html>