<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <header>
  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-info d-flex justify-content-between">
    <a class="navbar-brand text-dark font-weight-bold ml-1" href="/">
      <h3>Simple Twitter</h3>
    </a>
    <div class="navbar-collapse offcanvas-collapse col-5 col-sm-4 col-md-3 d-flex justify-content-end" id="navbarsExampleDefault">      
      {{!-- <div class="admin-button">
        
      </div> --}}
      <div class="buttons col-8 mx-1 px-1 d-flex justify-content-end">
        {{#ifRole user.role }}
        <a href="/admin" class="text-light btn btn-warning font-weight-bold mx-1" height="50px">
          後台管理
        </a>
        {{/ifRole}}
        {{#if user}}
        <a href="/users/{{user.id}}/tweets"><img src="{{user.avatar}}" alt="avatar" width="50px" class="border"></a>
        <a href="/logout" class="text-primary font-weight-bold ml-2 mt-1">LogOut</a>
        {{/if}}
      </div>
    </nav>    
  </header>
  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container pt-5">
        {{#if success_messages}}
        <div class="alert alert-success mt-0 pt-0" role="alert" style="margin: 30px 0 ;">
          {{success_messages}}
        </div>
        {{/if}}
        {{#if error_messages}}
        <div class="alert alert-danger mt-0 pt-0" role="alert" style="margin: 30px 0 ;">
          {{error_messages}}
        </div>
        {{/if}}
        {{{body}}}
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>


</html>