<div class="row">
  <div class="col-4">
    <img src="{{userData.avatar}}" alt="avatar" height="200px" width="200px">
    <h4>{{userData.name}}</h4>
    <p>{{userData.introduction}}</p>
    <ul>
      <li>Tweets:{{#count userData.Tweets}}{{/count}}</li>
      <li>Following:{{#count userData.Followings}}{{/count}}</li>
      <li>Follower:{{#count userData.Followers}}{{/count}}</li>
      <li>Like:{{#count userData.Likes}}{{/count}}</li>
    </ul>
    {{#if this.isFollowed}}
    <form action="/followships/{{user.id}}?_method=DELETE" method="POST" style="display: inline">
      <button type="submit" class="btn btn-danger">Unfollow</button></form>
    {{else}}
    <form action="/followships" method="POST" style="display: inline">
      <input type="hidden" name="id" value="{{user.id}}">
      <button type="submit" class="btn btn-primary">Follow</button> </form>
    {{/if}}
  </div>
  <div class="col-8">
    <h1>Like</h1>
    {{#each tweets}}
    <div class="card">
      <div class="card-body">
        <label>
          <h4 class="card-title">{{this.User.name}}</h4>
        </label>
        <label class="m-auto">
          <h5>{{moment this.createdAt}}</h5>
        </label>
        <p>{{this.description}}</p>
        <a href="/tweets/{{this.UserId}}/replies">Reply({{#count this.Replies}}{{/count}})</a>
        <a class="ml-2" href="#">Like({{#count this.Likes}}{{/count}})</a>
        {{#if this.isLiked}}
        <form action="/tweets/{{this.id}}/unlike?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">Unlike</button>
        </form>
        {{else}}
        <form action="/tweets/{{this.id}}/like" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-primary">Like</button>
        </form>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>