<div class="row">

  <div class="col-12 col-md-3 info pr-5 py-3">
    <a href="/users/{{tweet.UserId}}/tweets">
      <img src="{{tweet.User.avatar}}" alt="avatar" width="100%" min-height="75" class="border">
      <h2 class="text-info text-center pt-1">{{tweet.User.name}}</h2>
    </a>
    <p class="text-primary" style="line-height: 20px;">
      {{tweet.User.introduction}}
    </p>

    <ul class="font-weight-bold list-unstyled">
      <li>
        <a href="/users/{{tweet.UserId}}/tweets" class="text-dark h5" style="line-height: 30px;">Tweets
          {{tweetNumber}}</a>
      </li>
      <li>
        <a href="/users/{{tweet.UserId}}/followings" class="text-dark h5" style="line-height: 30px;">Following
          {{followingNumber}}</a>
      </li>
      <li>
        <a href="/users/{{tweet.UserId}}/followers" class="text-dark h5" style="line-height: 30px;">Follower
          {{followerNumber}}</a>
      </li>
      <li>
        <a href="/users/{{tweet.UserId}}/likes" class="text-dark h5" style="line-height: 30px;">Like {{likeNumber}}</a>
      </li>
    </ul>

    <div class="button button d-flex justify-content-center">
      {{#ifCond tweet.UserId user.id}}
      {{!-- display: none --}}
      {{else}}
      {{#if isFollowed}}
      <form action="/followships/{{tweet.UserId}}?_method=DELETE" method="POST" style="display: inline">
        <button type="submit" class="btn btn-warning font-weight-bold" style="width: 100%">Unfollow</button>
      </form>
      {{else}}
      <form action="/followships" method="POST" style="display: inline">
        <input type="hidden" name="id" value="{{tweet.UserId}}">
        <button type="submit" class="btn btn-info font-weight-bold text-dark" style="width: 100%">Follow</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>

  <div class="col-12 col-md-9 text pl-2">
    <div class="tweets">
      <h3 class="text-info">Tweets</h3>

      <div class="card my-2 ml-4">
        <div class="card-body row">
          <div class="col-md-4 pr-0">
            <a href="/users/{{tweet.UserId}}/tweets">
              <img src="{{tweet.User.avatar}}" class="card-img mt-2 border" width="100" min-height="75" alt="avatar">
            </a>
          </div>
          <div class="col-md-8">
            <label>
              <h6 class="card-title text-primary">
                <a href="/users/{{tweet.User.id}}/tweets">@{{tweet.User.name}}</a>
                , {{moment tweet.updatedAt}}
              </h6>
            </label>

            <p>{{tweet.description}}</p>

            <div class="row ml-0 links">
              <a href="/tweets/{{tweet.id}}/replies" style="line-height: 27px;">
                Reply({{replyNumber}})
              </a>

              {{#if isLiked}}
              <form action="/tweets/{{tweet.id}}/unlike?_method=DELETE" method="POST"
                class="ml-2 text-success d-inline w-25" style="line-height: 25px;">
                <button type="submit" class="text-success border-0 p-0 bg-white btn btn-link">
                  Unlike({{likedNumber}})
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{tweet.id}}/like" method="POST" class="ml-2 text-danger d-inline w-25"
                style="line-height: 25px;">
                <button type="submit" class="text-danger border-0 p-0 bg-white btn btn-link">
                  Like({{likedNumber}})
                </button>
              </form>
              {{/if}}

              {{#if tweet.CheckIn}}
              <a class="ml-4 text-info" href="https://maps.google.com/?q={{tweet.CheckIn}}" target="_blank"
                style="line-height: 30px;">@ {{tweet.CheckIn}}
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="replies">
      <h3 class="text-info">Replies</h3>

      {{#each tweet.Replies}}
      <div class="card my-2 ml-4">
        <div class="card-body row">
          <div class="col-md-4 pr-0">
            <a href="/users/{{this.User.id}}/tweets">
              <img src="{{this.User.avatar}}" class="card-img mt-2 border" width="100" min-height="75" alt="avatar">
            </a>
          </div>
          <div class="col-md-8">
            <label>
              <h6 class="card-title text-primary">
                <a href="/users/{{this.User.id}}/tweets">@{{this.User.name}}</a>
                , {{moment this.updatedAt}}
              </h6>
            </label>

            <p>{{this.comment}}</p>

          </div>
        </div>
      </div>
      {{/each}}

      <form action="/tweets/{{tweet.id}}/replies" method="POST" v class="my-2 ml-4">
        <div class="form-group mb-1">
          <textarea class="form-control border-info" id="text" name="text" rows="3" required></textarea>
        </div>
        <div class="d-flex justify-content-end pt-1 mr-3">
          <button type="submit" class="btn btn-info font-weight-bold text-dark" style="width: 90px">
            Reply
          </button>
        </div>
      </form>

    </div>
  </div>

</div>