<div class="container my-3">
    <div class="row" style="background-color: white;">
        <div class="col-4">
            <img src="{{user.avatar}}" class="rounded-circle" width="100px" height="100px">
            <ul class="list-unstyled">
                <li class="my-2"><strong>{{user.name}}</strong></li>
                <li>{{user.introduction}}</li>
                <br>
                <li>Tweets {{tweets.length}}</li>
                <li>Following {{followingNum}}</li>
                <li>Follower {{followerNum}}</li>
                <li>Like </li>
                <br>

                <li class="my-3" style="display: inline">
                    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
                </li>
                {{#if isFollowed}}
                <form action="/following/{{userProfile.id}}?_method=DELETE" method="POST" style="display: inline">
                    <button type="submit" class="btn btn-danger">Unfollow</button></form>
                {{else}}
                <form action="/following/{{userProfile.id}}" method="POST" style="display: inline">
                    <button type="submit" class="btn btn-primary">Follow</button></form>
                 {{/if}}
            </ul>
        </div>
        <div class="col-8">
            <form action="/tweets" method="POST">
                <div class="form-group">
                    <textarea class="form-control" id="tweetText" rows="4"
                        placeholder="What's on your mind ?"></textarea>
                </div>
                <button type="submit">Tweet</button>
            </form>
            <div class="tweets">
                {{#each user.Tweets}}
                <div class="card">
                    <div class="card-body">
                        <label>
                            <h4 class="card-title">{{this.User.name}}</h4>
                        </label>
                        <label class="m-auto">
                            <h5>{{moment this.createdAt}}</h5>
                        </label>
                        <p>{{this.description}}</p>
                        <a href="/tweets/{{this.id}}/replies">Reply({{this.Replies.length}})</a>
                        <a class="ml-2" href="#">Like({{this.Likes.length}})</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>