<div class="container my-3">
    <div class="row" style="background-color: white;">
        <div class="col-4">
            <img src="{{userData.avatar}}" class="rounded-circle" width="100px" height="100px">
            <ul class="list-unstyled">
                <li class="my-2"><strong>{{userData.name}}</strong></li>
                <li>{{userData.introduction}}</li>
                <br>
                <li><a href="/users/{{userData.id}}/tweets">Tweets {{#count tweets}}{{/count}}</a></li>
                <li><a href="/users/{{userData.id}}/followings">Following {{#count userData.Followings}}{{/count}}</a>
                </li>
                <li><a href="/users/{{userData.id}}/followers">Follower {{#count userData.Followers}}{{/count}}</a></li>
                <li><a href="/users/{{userData.id}}/likes">Like{{#count userData.Likes}}{{/count}}</a> </li>
                <br>

                <li class="my-3" style="display: inline">
                    <a href="/users/{{userData.id}}/edit" class="btn btn-primary">edit</a>
                </li>
                {{#ifFollowed user.id userData.id}}
                <form action="/following/{{userData.id}}?_method=DELETE" method="POST" style="display: inline">
                    <button type="submit" class="btn btn-danger">Unfollow</button></form>
                {{else}}
                <form action="/following/{{userData.id}}" method="POST" style="display: inline">
                    <button type="submit" class="btn btn-primary">Follow</button></form>
                {{/ifFollowed}}

            </ul>
        </div>
        <div class="col-8">
            <div class="tweets">
                {{#each tweets}}
                <div class="card">
                    <div class="card-body">
                        <label>
                            <h4 class="card-title">{{this.User.name}}</h4>
                        </label>
                        <label class="m-auto">
                            <h5>{{moment this.createdAt}}</h5>
                        </label>
                        <p>{{this.description}}</p>
                        <div class="d-flex bd-highlight mb-3">
                            <a href="/tweets/{{this.id}}/replies">Reply({{this.Replies.length}})</a>
                            <a class="ml-2" href="#">Like({{this.Likes.length}})</a>
                            <div class="ml-auto">
                                {{#if this.isLiked}}
                                <form action="/like/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">Unlike</button>
                                </form>
                                {{else}}
                                <form action="/like/{{this.id}}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-primary">Like</button>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>